DataStore/Config/Config.json
node_modules
DataStore/Warnings/Warnings.json
Commands/Streaming/channels.json
Commands/Owner Only/forceinvite.js
DataStore/BotStatistics
giveaways.json
DataStore/Blacklists
DataStore/Points.json